@model List<DigitizingProjectCore.Areas.Admin.ViewModel.HomePageViewModel>

@section css{
    <style>
        .table-responsive {
            overflow-x: hidden;
        }
    </style>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" id="search-form" asp-controller="HomePageBanner" asp-action="search" method="POST" onsubmit="return search(this);">
            <div class="form-group">
                <input type="text" placeholder="search ..." name="term" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="panel-body" id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbllist").DataTable({
                "bFilter": false,
                "bDestroy": true,
                "bSort": false,
                "bStateSave": true,
            });
        })
    </script>
}