@model DigitizingProjectCore.Areas.Admin.Dto.AddSolutionWithCategoryAndBrandAndProduct
@section css{
    <style>
        body {
            overflow-x: hidden;
        }

        .ck-editor__editable {
            min-height: 200px;
            max-height: 400px;
        }
    </style>
}
<form asp-controller="Solution" asp-action="Edit" method="POST" onsubmit="return jQueryAjaxPost(this);">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameEn">Name (English)</label>
                <input type="text" class="form-control" id="nameEn" asp-for="NameEn">
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameAr">Name (Arabic)</label>
                <input type="text" class="form-control" id="nameAr" asp-for="NameAr">
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" asp-for="CategoryId" asp-items="Model._Categories"></select>
        </div>
        <div class="col-md-6 form-group">
            <label for="brand">Brand</label>
            <select class="form-control" id="brand" asp-for="BrandId" asp-items="Model._Brands"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="product">Products</label>
        <select class="form-control" id="product" asp-for="ProductIds" asp-items="Model._Products"></select>
    </div>
    <div class="form-group">
        <label for="detailsAr">Details (Arabic)</label>
        <textarea type="text" class="form-control" id="detailsAr" cols="20" rows="7" asp-for="DetailsAr"></textarea>
    </div>
    <div class="form-group">
        <label for="detailsEn">Details (English)</label>
        <textarea type="text" class="form-control" id="detailsEn" cols="20" rows="7" asp-for="DetailsEn"></textarea>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="logo">Image</label>
            <img src="/Images/@Model.LogoImageName" alt="@(Model.NameEn)" width="250" height="250">
            <input type="file" class="form-control" id="logo" asp-for="LogoImage">
        </div>
        <div class="col-md-6 form-group">
            <label for="sort">Sort(#)</label>
            <input type="text" class="form-control" id="sort" asp-for="SortId">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="pdfFile">PDF File</label>
            <input type="file" class="form-control" id="pdfFile" asp-for="PDFFile">
        </div>
        <div class="col-md-6 form-group">
            <label for="docFile">Doc File</label>
            <input type="file" class="form-control" id="docFile" asp-for="DocFile">
        </div>
    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <input type="checkbox" id="active" checked asp-for="IsActive">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-warning btn-create">Edit</button>
        <input type="reset" class="btn" value="Rest">
    </div>
</form>
@section scripts{
    <script src="~/ckeditor5-build-classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#detailsAr'), {
        }).then(editor => {
            window.editor = editor;
        }).catch(err => {
            console.error(err.stack);
        })
        ClassicEditor.create(document.querySelector('#detailsEn'), {
        }).then(editor => {
            window.editor = editor;
        }).catch(err => {
            console.error(err.stack);
        })
    </script>
}