@model DigitizingProjectCore.Areas.Admin.Dto.CreateUpdatePhotoGalleryDto
@{
    Layout = null;
}
@section css{
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
}
<form asp-controller="PhotoGallery" asp-action="Add" method="POST" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameAr">Name (Arabic)</label>
                <input type="text" class="form-control" id="nameAr" asp-for="NameAr">
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameEn">Name (English)</label>
                <input type="text" class="form-control" id="nameEn" asp-for="NameEn">
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="summaryAr">Summary (Arabic)</label>
            <textarea type="text" class="form-control" id="summaryAr" cols="20" rows="3" asp-for="SummaryAr"></textarea>
            <span asp-validation-for="SummaryAr" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label for="summaryEn">Summary (English)</label>
            <textarea type="text" class="form-control" id="summaryEn" cols="20" rows="3" asp-for="SummaryEn"></textarea>
            <span asp-validation-for="SummaryEn" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="mainImage">Main Image</label>
            <input type="file" class="form-control" id="mainImage" asp-for="MainImage">
        </div>
        <div class="col-md-6 form-group">
            <label for="sort">Sort(#)</label>
            <input type="number" class="form-control" placeholder="Enter date" id="sort" asp-for="SortId">
        </div>
    </div>
    <div class="form-group">
        <label for="images">Images</label>
        <div id="uploadImages" style="width:400px;height:400px;line-height:400px;border:1px solid #000000;text-align:center" class="dropzone">
            <input type="file" multiple class="form-control" id="images" asp-for="Images">
        </div>

    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <input type="checkbox" id="active" checked asp-for="IsActive">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-create">Create</button>
        <input type="reset" class="btn" value="Rest">
    </div>

</form>
@section scripts{
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
}