@model DigitizingProjectCore.Areas.Admin.Dto.ResetPasswordDto
@{
    Layout = null;
}

<form asp-controller="User" asp-action="ResetPassword" method="POST" onsubmit="return jQueryAjaxPost(this);">
    <input type="hidden" asp-for="Id">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" asp-for="Password">
        </div>
        <div class="col-md-6 form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword">
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Reset" />
</form>