@model DigitizingProjectCore.Areas.Admin.Dto.CreateUpdateCategoryDto
@{
    Layout = null;
}
<form asp-controller="CategoryProduct" asp-action="Add" method="POST" onsubmit="return jQueryAjaxPost(this);">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameEn">Name (English)</label>
                <input type="text" class="form-control" id="nameEn" asp-for="NameEn">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nameAr">Name (Arabic)</label>
                <input type="text" class="form-control" id="nameAr" asp-for="NameAr">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="active">Active</label>
                <input type="checkbox" id="active" checked asp-for="IsActive">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="sortId">#Sort Id</label>
                <input type="number" class="form-control" id="sortId" asp-for="SortId">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-create">Create</button>
        </div>
        <div class="col-md-2">
            <input type="reset" class="btn" value="Rest">
        </div>
    </div>
</form>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn-create').click(function () {
                Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                )
            });
        });
    </script>
}