@model List<DigitizingProjectCore.Areas.Admin.ViewModel.DistributorViewModel>
@{
    var db = @ViewBag.db as DigitizingProjectCore.Data.ApplicationDbContext;
    var cities = db.Cities.Where(x => x.IsDelete == false && x.IsActive == true).ToList();
}
@section css{
    <style>
        .table-responsive {
            overflow-x: hidden;
        }
    </style>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" asp-controller="Distributor" asp-action="Index" method="GET" >
            <div class="form-group">
                <input type="text" placeholder="search ..." name="key" class="form-control" />
            </div>
            <div class="form-group">
                <select name="cityId" class="form-control">
                    <option value="null">Any City</option>
                    @foreach (var city in cities)
                    {
                        <option value="@city.Id">@city.NameEn</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select name="isActive" class="form-control">
                    <option value="null">Is Active</option>
                    <option value="true">Active</option>
                    <option value="false">Not Active</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="panel-body" id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}